$icons-path: "~ag-grid-community/src/styles/balham-icons/";
$border-color: #e8e8e8;
$header-background-color: #fafafa;
$font-size: 14px;
$header-icon-size: 14px;
$secondary-font-size: 14px;
$grid-size: 5px; // N.B. Have to adjust `headerHeight` and `rowHeight` in `<AgGridReact>`if change this value, and vica-versa
$hover-color: #e6f7ff;

@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-balham.scss";

.ag-theme-balham {
  color: rgba(0, 0, 0, 0.65);
  .ag-font-style {
    user-select: initial;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-user-select: text;
  }
  .ag-header {
    color: rgba(0, 0, 0, 0.65);
    .ant-select-selection-selected-value {
      font-weight: normal;
    }
  }
  .ag-floating-filter-body input {
    height: 24px;
    margin: 0;
    width: 100%;
  }
  .ant-select-auto-complete.ant-select .ant-input,
  .ag-floating-filter-body input,
  input[type="text"],
  input[type="date"] {
    border: 1px solid #d9d9d9;
    padding: 1px 7px;
  }
  .ant-select .ant-select-search__field {
    border: 0;
    padding: 1px 0;
  }
  .ag-filter-body-wrapper {
    padding: 10px 10px 0 10px;
    input[type="radio"],
    input[type="text"],
    input[type="date"] {
      margin-bottom: 10px;
    }
    input[type="radio"] {
      margin-bottom: 8px;
    }
    .ag-filter-select {
      margin-top: 0;
      margin-bottom: 10px;
      border: 1px solid #d9d9d9;
    }
  }
  .ag-header-cell-label,
  .ag-floating-filter-button button,
  .ag-paging-button {
    cursor: pointer;
  }
  .ag-menu {
    z-index: 1001;
  }
  .ag-paging-panel {
    height: 30px;
  }
  // This fixes the issue with misaligned pagination controls (in the modal) in Firefox
  button[ref="btFirst"],
  button[ref="btPrevious"],
  button[ref="btNext"],
  button[ref="btLast"] {
    text-indent: -9999px;
  }
  .ag-icon-filter,
  .ag-icon-group {
    background-color: rgba(156, 156, 156, 0.5) !important;
  }
}

// Ant-d Table and pagination related styles.

.react-resizable {
  position: relative;
  background-clip: padding-box;
}
.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
  z-index: 1;
}

.ant-pagination {
  margin-top: 10px;
  text-align: right;
  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    background-color: #191919;
    border: 1px solid #434343;
    color: #fff;
    border-radius: 0;
  }
  .ant-pagination-item {
    background-color: #191919;
    border: 1px solid #434343;
    color: #fff;
    border-radius: 0;
    a {
      color: rgba(247, 247, 247, 0.62);
    }
  }
  .ant-pagination-item-active {
    a {
      color: #fff;
      background: #434343;
    }
  }
  .ant-pagination-disabled {
    opacity: 0.6;
  }
  .ant-pagination-item:focus,
  .ant-pagination-item:hover {
    border-color: #434343;
    a {
      color: #fff;
      background: #434343;
    }
  }
  .ant-pagination-jump-prev
    .ant-pagination-item-container
    .ant-pagination-item-ellipsis,
  .ant-pagination-jump-next
    .ant-pagination-item-container
    .ant-pagination-item-ellipsis {
    color: rgba(247, 247, 247, 0.62);
  }
  .ant-pagination-jump-prev
    .ant-pagination-item-container
    .ant-pagination-item-link-icon,
  .ant-pagination-jump-next
    .ant-pagination-item-container
    .ant-pagination-item-link-icon {
    color: rgba(247, 247, 247, 0.62);
  }
}
.data-table-wrapper {
  .ant-table table {
    color: rgba(255, 255, 255, 0.72);
    background: #191919;
  }
  .ant-table-thead > tr > th {
    background: #272727;
    color: rgba(255, 255, 255, 0.88);
    border-bottom: 2px solid #434343;
  }
  .ant-table-tbody > tr > td {
    border-bottom: 1px solid #434343;
  }
  .ant-table-placeholder {
    color: rgba(255, 255, 255, 0.72);
    background: #191919;
    border-color: #434343;
  }
  .ant-table-tbody
    > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
    > td {
    background: rgba(67, 67, 67, 0.6);
  }
  .ant-table-thead
    > tr
    > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover,
  .ant-table-thead > tr > th.ant-table-column-sort {
    background: #404040;
  }
  .ant-table-thead
    > tr
    > th
    .ant-table-column-sorter
    .ant-table-column-sorter-inner
    .ant-table-column-sorter-down.on,
  .ant-table-thead
    > tr
    > th
    .ant-table-column-sorter
    .ant-table-column-sorter-inner
    .ant-table-column-sorter-up.on {
    color: #636363;
  }
}
.ant-empty-description {
  color: #fff;
}
.ant-spin-blur {
  opacity: 0.32;
}
